<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/accueil">LOC MNS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        @if (authentification.role) {

          <li class="nav-item">
            <a class="nav-link" routerLink="/accueil" routerLinkActive="active">Accueil</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/materiels" routerLinkActive="active">Matériels</a>
          </li>
        }
        
       

        @if (authentification.role == "Administrateur") {

        <li class="nav-item">
          <a class="nav-link" routerLink="/gestion-reservations" routerLinkActive="active">Gestion Reservations</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/gestion-utilisateurs" routerLinkActive="active">Gestion Utilisateurs</a>
        </li>
        }

         @if (authentification.role) {
         <li class="nav-item">
           <a class="nav-link" routerLink="/deconnexion" routerLinkActive="active">Déconnexion</a>
         </li>
         }
      </ul>
      <a class="nav-link" routerLink="/profil" routerLinkActive="active">Mon profil <mat-icon
          class=" mat-icon-custom-color">person</mat-icon></a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Numero ticket, utilisateur..."
          aria-label="Search" />
        <button class="btn btn-outline-success" type="submit">
          Rechercher
        </button>
      </form>
    </div>
  </div>
</nav>

<router-outlet />
