.welcome {
  text-align: center;
  margin: 20px;

  h1{
    span{
        color:#bf69e4;
    }
  }
}

.reservations {
  margin: 20px;

  table{
    th{
        color: #bf69e4;
    }
  }
}

.profile-link {
  text-align: center;
  margin: 20px;
}

table {
  width: 100%;
}

